.reglogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
}

.reglogSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: var(--orange-bg); */
  background: linear-gradient(135deg, #FFA500, #FF6347);
  z-index: -1;
  border-radius: 1rem;
}

.contentSection {
  width: 90%;
  display: flex;
}

.leftSide,
.rightSide {
  flex: 1;
  padding: 20px;
}

.leftSide {
  & h1 {
    font-size: 3em;

    & span{
      font-size: 5rem;
      background-image: linear-gradient( black, rgb(184, 55, 8));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
  }

  & h2{
    color: black;
  }
  & p {
    font-size: 1.2em;
  }
}

.rightSide {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

