
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #242e30;
  background-color: white;
  margin-bottom: 30px;
}

.navbar img {
  width: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #242e30;
  margin-right: 40px;
  font-weight: bold;
  font-size: 1.4rem;
}

.navbar a:hover {
  color: #f36805;
}
